body {
    background-color: #9999ff;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px 90px 0px;
}

.title p {
    padding: 30px;
    width: 30%;
    text-align: center;
    font-size: 45px;
    border-radius: 10px;
    background: #F9E9F7;
}

#companies-table_wrapper {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}

#companies-table {
    border-radius: 9px;
    background: white;
    text-align: center;
    overflow: hidden;
 }

#companies-table_length,
#companies-table_filter,
#companies-table_info,
#companies-table_paginate {
    font-weight: bold;
}

#companies-table_length select { background: white; margin: 0px 0px 13px 0px; }

#companies-table_filter input { background: white; 0px 0px 13px 0px; }

#companies-table_info { margin: 12px 0px 0px 0px; }

#companies-table_paginate { color: white; border-radius: 9px; margin: 12px 0px 0px 0px; }

#companies-table_paginate a:hover {
    background: lightgrey;
    color: black !important;
}


.table tr:hover { background: #ebebeb; }

button { margin: 40px 0px 20px 0px; }
