body {
    background-color: #9999ff;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
}

.title p {
    padding: 30px;
    width: 30%;
    text-align: center;
    font-size: 45px;
    border-radius: 10px;
    background: #F9E9F7;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
    background: white;
    text-align: center;
    width: 97%;
}

.table tr:hover { background: grey; }
