body {
    background-color: #9999ff;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
}

.title p {
    padding: 30px;
    width: 30%;
    text-align: center;
    font-size: 45px;
    border-radius: 10px;
    background: #F9E9F7;
}

#companies-table {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
    background: white;
    text-align: center;
 }

#companies-table_length select { background: white; }

#companies-table_filter input { background: white; }

#companies-table_info { background: white; }

#companies-table_paginate { color: white; border-radius: 9px; }

.table tr:hover { background: grey; border-radius: 9px; }

button { margin: 0px 0px 20px 0px; }
